body {
    font-family: 'Forum'
}
.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: rgb(24, 24, 24);
}
.navbar {
    list-style-type: none;
    font-weight: bold;
    display: inline;
    /* border-style: solid none solid none;
    border-color: rgb(172, 172, 172); */
}
li {
    display: block;
}

/* flex box container for cartoon & caption */

/* style for contact form */

/* style for footer */