body {
    font-family: 'Forum';
    text-align: center;
}
.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(24, 24, 24);
    font-size: 46px;
}
.navbar {
    list-style-type: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-style: solid none solid none;
    border-color: rgb(172, 172, 172);
    border-width: 2px;
    gap: 25px;
}

a:link {
    color: rgb(24, 24, 24);
}

a:hover {
    color: rgb(172, 172, 172);
}

a:visited {
    color: rgb(24, 24, 24);
}
/* flex box container for cartoon & caption */
.container {
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.cartoon{
    /* max-height: 500px; */
}

.caption-div {
    /* padding-top: 25px; */
    font-style: italic;
    padding-bottom: 10px;
}

#image {
    width: 40%;
    max-height: 80%;
}
.set-favorite {
    padding-top: 15px;
    padding-bottom: 20px;
}
/* style for footer */
footer {
    background-color: rgb(172, 172, 172);
    color: rgb(245, 245, 245);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    h1 {
      font-size: 26px;
    }
    .container {
        height: 80%;
    }
  }